*volumetricMeshFilename
D:/GraduationProject/Vega/models/8.10/1.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/Vega/models/8.10/surface.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/Vega/models/8.10/tree.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/Vega/models/8.10/1.interp

*timestep
0.01

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
#30.0
1.0

*frequencyScaling
3.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/Vega/models/8.10/voxelizegrass.lighting

*cameraRadius
3

*focusPositionY
1.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/Vega/models/8.10/1.bou

*numInternalForceThreads
4

*numSolverThreads
2

*renderAxes
1

*outputFilename
D:/GraduationProject/Vega/models/8.10/position/positionthe0phi0.txt

